<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Chat Bot</h1>
        </div>
        <div class="panel-body">
          <div id='chat'></div>
        </div>
      </div>
      <div class='inputText'>
        <textarea rows="5" id="txt" class="form-control" placeholder="Shift+Enterで送信"></textarea>
        <button type="button" class="btn btn-info chat-btn">送信</button>
      </div>
    </div>
  </div>
</div>