@import "bootstrap-sprockets";
@import "bootstrap";

@import "./workers.scss";
@import "./recruits.scss";

.card-text {
  text-align: left;
}

.card_header {
  text-align: left;
}

.card-price{
  text-align: left;
}