// Place all the styles related to the recruits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top-custom {
  display: block;
  margin: 0 auto;
}

.card-title-custom {
  text-align: center;
  line-height: 50px;
}

.card-text-custom {
  padding-top: 25px;
  font-size: 2rem;
}

.btn-custom {
  display: block;
  width: 100px;
  margin: 0 auto;
}
