<nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar navbar-default">
  <a class="navbar-brand pull-left" href="/">LabShare</a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
          <li class="text-left">
            <a href="/clients">求人案件を掲載する
              <% if clientMessages != 0 %>
                  <span style="margin-left: 1px;"class="badge badge-red pull-right"><%= clientMessages%></span>
              <% end %>
            </a>
          </li>

          <li class="text-left">
            <a href="<%= worker_path(current_user.id) %>">
              <% if workerMessages != 0 %>
                  <span style="margin-left: 1px;"class="badge badge-red pull-right"><%= workerMessages %></span>
              <% end %>
              マイページ
            </a>
          </li>
          <li class="text-left">
            <%= link_to "ログアウト", "/users/sign_out", method: :delete %>
          </li>
      <% else %>
          <li class="text-left"><a href="/users/sign_in" >ログイン</a></li>
          <li class="text-left"><a href="/users/sign_up">新規登録</a></li>
    <% end %>
    </ul>
  </div>
</nav>